<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="../js/create_user.js"></script>
    <title>Document</title>
</head>
<body>
    <p><a href="./">トップページへ</a></p>
    <p>新規ユーザー追加</p>
    <input type="text" name="id" id="id" placeholder="ID"> 
    <input type="text" name="name" id="name" placeholder="名前">
    <input type="text" name="age" id="age" placeholder="年齢">
    <input type="submit" value="送信" id="submit">
</body>
</html>