<% let pageData={ pageTitle: "お問い合わせ" } %>

  <!DOCTYPE html>
  <html lang="ja">
  <%- include('./_partial/head', pageData) %>
    <body>
      <div class="page">
        <div id="user">

        </div>
      </div>
      <p><a href="./create_user">新規会員を作成する</a></p>

    </body>
  </html>
